 body {
        background-color: darksalmon;
        font-family:'Times New Roman', Times, serif
 }
 h1 {
    text-align: center;
    color: darkred;
 }

 .projects { 
   display:flex; 
   flex-wrap:wrap; 
} 
.project {
   width: 30%;
   margin: 10px;
   padding: 20px 10px;
   background: rgb(143, 94, 65); /* pick a color */
   border-radius: 25%;
}